<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <%= include_gon %>
  <script>
    var dateRange = []
    dateRange = gon.bookings

    $( function() {
      $( "#start" ).datepicker({
        dateFormat : 'mm-dd-yy',
       beforeShowDay: disableDates
      });
      $( "#end" ).datepicker({
        dateFormat : 'mm-dd-yy',
       beforeShowDay: disableDates
      });
    });
    
    var disableDates = function(dt) {
        var dateString = jQuery.datepicker.formatDate('mm-dd-yy', dt);
        console.log(dateString)
        console.log(dateRange)
        return [dateRange.indexOf(dateString) == -1];

    }
    console.log(disableDates())
  </script>
</head>
<h1>Booking Request</h1>

<form action="/book_property" method="post">
  <label>
    Name:
  </label>
  <input type="name" name="name" required />
  <label>
    Email address:
  </label>
    <input type="email" name="email" required />
  <label>
    Contact number:
  </label>
    <input type="number" name="number" required />
  <label>
    Start date:
  </label>
  <input type="text" id="start" name="start_date" required />
  <label>
    End date:
  </label>
  <input type="text" id="end" name="end_date" required />
  <!-- <input type="text" id="dp" /> -->
  <input type="submit" value="Submit" />
</form>
