<h1>List your property</h1>

<form action="/list_property" method="post">
  <input type="text" placeholder="name" name="name"/>
  <input type="textarea" placeholder="description" name="description" />
  <input type="number" placeholder="£" name="price" />
  <input type="submit" value="Enter" />
</form>
