<h1>List your property</h1>

<form action="/list_property" method="post">
  <input type="text" value="Name" />
  <input type="textarea" value="Description" />
  <input type="number" placeholder="£" value="Price" />
  <input type="submit" value="Enter" />
</form>
