<head>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type='text/javascript'>
		$(document).ready(function() {
			function explode(){
  				$(".notice").attr("hidden",true);
			}
			setTimeout(explode, 3000);
		})
	</script>
</head>

<a href="/sign_in" align="right">Sign in</a>
<h1 align="center">Sign up to CrouchingPythonBNB</h1>
<h3>
	<div id='flash' class='notice'>
 		<%= flash[:notice] %>
	</div>
</h3>

<div align="center">
<form action="/sign_up" method="post">
  <label>Name:</label>
<input type="name" name="name" />
  <label>Email:</label>
<input type="email" name="email" />
  <label>Password:</label>
<input type="password" name="password" />
  <label>Confirm Password:</label>
<input type="password" name="password_confirmation" />
  <input type="submit" value="Sign up" />
</form>
</div>
