<h1>Sign up to CrouchingPythonBNB</h1>

<form action="/sign_up" method="post">
  <input type="name" name="name" />
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="password" name="password_confirmation" />
  <input type="submit" value="Sign up" />
</form>
